body{
    
    background-image:url(../img/img4.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Lobster', cursive;
    -webkit-text-stroke: 0.1px #008ACB
    
}


